/* This file is based on https://github.com/reactjs/reactjs.org/blob/master/src/prism-styles.js */

code[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1.6rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  hyphens: none;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.2em !important;
}

pre[class*="language-"] {
  color: #fff;
  background: rgb(40, 44, 52);
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"] {
  background: rgb(40, 44, 52);
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.plain-text {
  color: #ffffff;
}

.attr-name {
  color: #c5a5c5;
}

.comment {
  color: #B2B2B2;
}

.block-comment {
  color: #B2B2B2;
}

.prolog {
  color: #B2B2B2;
}

.doctype {
  color: #B2B2B2;
}

.cdata {
  color: #B2B2B2;
}

.property {
  color: #5a9bcf;
}

.number {
  color: #5a9bcf;
}

.function-name {
  color: #5a9bcf;
}

.constant {
  color: #5a9bcf;
}

.symbol {
  color: #5a9bcf;
}

.deleted {
  color: #5a9bcf;
}

.boolean {
  color: #ff8b50;
}

.tag {
  color: #fc929e;
}

.string {
  color: #8dc891;
}

.punctuation {
  color: #88C6BE;
}

.selector {
  color: #D8DEE9,
}

.char {
  color: #D8DEE9,
}

.builtin {
  color: #D8DEE9,
}

.inserted {
  color: #D8DEE9,
}

.function {
  color: #79b6f2;
}

.operator {
  color: #d7deea;
}

.entity {
  color: #d7deea;
  cursor: help;
}

.url {
  color: #d7deea;
}

.language-css .token.string {
  color: #d7deea;
}

.style .token.string {
  color: #d7deea;
}

.variable {
  color: #d7deea;
}

.attr-value {
  color: #8dc891;
}

.keyword {
  color: #c5a5c5,
}

.at-rule {
  color: #FAC863;
}

.class-name {
  color: #FAC863;
}

.important {
  font-weight: 400,
}

.bold {
  font-weight: 700,
}

.italic {
  font-style: italic;
}

.namespace {
  opacity: 0.7,
}