---
layout: layouts/base.njk
templateClass: tmpl-home
---
<header class="site-hero">
  <div class="site-hero-content">
    <div class="site-container">
      <h1 class="site-hero-heading">Hello <span class="site-hero-wave">👋</span></h1>
      <span class="site-hero-intro">I'm Brett Jankord, a Software Engineer living in the midwest who enjoys working on front-end development, design systems, accessibility, responsive web design, CSS, ReactJS, and open source software.</span>
      <ul class="site-hero-social">
        <li><a href="https://twitter.com/bjankord" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        <li><a href="https://github.com/bjankord" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        <li><a href="https://www.brettjankord.com/rss.xml">RSS</a></li>
      </ul>
    </div>
  </div>
</header>

<main {% if templateClass %} class="{{ templateClass }} site-container"{% else %} class="site-container" {% endif %}>
{{ content | safe }}
</main>
