code[class*="language-"],
pre[class*="language-"] {
  color: #EBC06F;
  font-family: Menlo, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(255,255,255,0.1);
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(255,255,255,0.1);
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.punctuation {
  color: #1FB8C4;
}
.token.interpolation-punctuation{
  color: #D36FE3;
}
.token.attr-value{
  color: #8AC46F;

}
.token.constant {
  color: #fd6974;

}
.token.deleted {
  color: #fd6974;

}
.token.tag {
  color: #fd6974;

}
.token.variable {
  color: #C678DD;

}
.token.keyword {
  color: #C678DD;

}
.token.selector {
  color: #C678DD;

}
.token.builtin {
  color: #E5C07B;

}
.token.changed {
  color: #E5C07B;

}
.token.namespace {
  color: #E5C07B;

}
.token.class-name {
  color: #E5C07B;

}
.token.operator {
  color: #ABB2BF;

}
.token.property {
  color: #cad2e2;

}
.token.inserted {
  color: #98C379;

}
.token.string {
  color: #8AC46F;

}
.token.char {
  color: #D19A66;

}
.token.number {
  color: #D19A66;

}
.token.attr-name {
  color: #D19A66;

}
.token.function {
  color: #61AFEF;

}
.token.symbol {
  color: #56B6C2;

}
.token.boolean {
  color: #DA985C;
}
.token.comment {
  color: #abb2bf;
  font-style: italic
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
