* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;
  text-align: center;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  min-height: 100vh;
  background:  #222d3f;
  color: #fff;
  padding: 0 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1;
  color: #82cefb;
}

p {
  font-size: 1.5rem;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: rgb(189, 192, 206);
}

em {
  font-style: normal;
}

strong {
  margin-left: -0.2rem;
  color: #fff;
}
