---
layout: default
---

{% for post in paginator.posts %}
  <article class="archive">
    <header class="archive-header">
      <h2 class="archive-title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <time datetime="{{post.date | date: "%Y-%m-%d"}}">{{ post.date | date: "%B %e, %Y" }}</time>
    </header>
    <div class="archive-excerpt">
    {{ post.content | truncatewords:37}}
    </div>
    <p class="archive-more"><a href="{{ site.baseurl }}{{ post.url }}">Read More</a></p>
  </article>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#12296; Newer articles</a>
  {% else %}

  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older articles &#12297;</a>
  {% else %}

  {% endif %}
</div>
{% endif %}
