---
permalink: ./pages.json
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
[{% for post in collections.posts %}
  {
    "title":"{{ post.data.title | addNbsp | safe }}",
    "imgName":"{{ post.data.title | cleanImgName | slug }}"
  }{% if loop.last == false %},{% endif %}
{% endfor %}]
