---
layout: layouts/archive.njk
tags:
  - nav
title: 'Post Archive'
navtitle: Archive
permalink: /posts/
---

<h1>Post Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
