// LAYOUTS
// --------------------------------------------------

// Container
// ----------------------------------------
.container {
  @include rem(max-width, $container-max-width);
  @include rem(padding, 0 30px);
  margin: 0 auto;
}

// Site Masthead
// ----------------------------------------
.site-masthead {
  @include rem(margin-bottom, 50px);
  @include rem(padding, $base-spacing-unit 0);
  border-bottom: 1px solid $gray-light;
  display: table;
  text-align: center;
  width: 100%;

  @include bp-m {
    text-align: left;
  }
}

// Site Name
// ----------------------------------------
.site-name {
  @include rem(font-size, 28px);
  color: $slate;
  cursor: pointer;
  font-family: $font-stack-1;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;

  @include bp-m {
    display: table-cell;
    text-align: left;
    vertical-align: bottom;
    width: 50%;
  }
}

// Site Description
// ----------------------------------------
.site-description {
  @include rem(font-size, 16px);
  @include rem(margin-top, $half-spacing-unit);
  color: $gray;
  display: block;

  @include bp-m {
    @include rem(margin-top, 1px);
  }
}

// Site Nav
// ----------------------------------------
.site-nav {
  @include rem(font-size, 16px);
  @include rem(margin-top, $half-spacing-unit);
  font-family: $font-stack-1;

  @include bp-m {
    @include rem(font-size, 18px);
    display: table-cell;
    margin-top: 0;
    text-align: right;
    vertical-align: bottom;
    width: 50%;
  }

  a {
    @include rem(margin-left, 10px);
    @include rem(margin-right, 10px);
    color: $link-color;
    font-weight: 500;
    letter-spacing: 1px;

    @include bp-m {
      @include rem(margin-left, 20px);
      @include rem(margin-right, 0);
      color: $slate;
      font-weight: 300;
      text-align: right;
    }
  }
}

// Site Footer Wrapper
// ----------------------------------------
.site-footer-wrapper {
  @include rem(margin-top, $base-spacing-unit);
  background-color: $gray-dark;
}

// Site Footer
// ----------------------------------------
.site-footer {
  @include rem(padding, 20px 0);
  text-align: center;
}
