:root {
  /* Colors */
  --white: #fff;
  --gray: #737373;
  --gray-light: #eee;
  --gray-dark: #3B4247;
  --gray-darker: #333;
  --blue: #3c7ab7;

  --bg: var(--white);
  --fg: var(--gray-darker);
  --link-color: var(--blue);
  --site-description-color: var(--gray);
  --time-color: var(--gray);
  --post-readtime-color:var(--gray);
  --heading-color: var(--gray-dark);
  --selection-color: var(--gray-dark);
  --site-name-color: var(--gray-dark);
  --hr-color: var(--gray-light);
  --selection-background-color: var(--gray-light);
  --site-header-border-bottom-color: var(--gray-light);
  --code-background-color: rgb(40, 44, 52);
  --post-tags-background-color: #d5d5d5;


  /* Typography */
  --font-stack-3: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --base-spacing-unit: 2.4rem;
  --h1-size: 4rem;
  --h2-size: 3rem;
  --h3-size: 2.4rem;
  --h4-size: 2rem;
  --h5-size: 1.8rem;
  --h6-size: 1.6rem;
}

.dark-mode {
    --bg: var(--gray-darker);
    --fg: var(--white);
    --link-color: #55cdff;
    --site-description-color: #c5c5c5;
    --time-color: var(--gray-light);
    --post-readtime-color:var(--gray-light);
    --heading-color: var(--white);
    --selection-color: var(--white);
    --site-name-color: var(--white);
    --hr-color: #73797d;
    --selection-background-color: #777;
    --site-header-border-bottom-color: #73797d;
    --code-background-color: rgb(39, 39, 39);
    --post-tags-background-color: #6f6f6f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--gray-darker);
    --fg: var(--white);
    --link-color: #55cdff;
    --site-description-color: #c5c5c5;
    --time-color: var(--gray-light);
    --post-readtime-color:var(--gray-light);
    --heading-color: var(--white);
    --selection-color: var(--white);
    --site-name-color: var(--white);
    --hr-color: #73797d;
    --selection-background-color: #777;
    --site-header-border-bottom-color: #73797d;
    --code-background-color: rgb(39, 39, 39);
    --post-tags-background-color: #6f6f6f;
  }

  /* Allows ability to switch to light mode even when OS is set to prefers-color-scheme: dark */
  .light-mode {
    --bg: var(--white);
    --fg: var(--gray-darker);
    --link-color: var(--blue);
    --site-description-color: var(--gray);
    --time-color: var(--gray);
    --post-readtime-color:var(--gray);
    --heading-color: var(--gray-dark);
    --selection-color: var(--gray-dark);
    --site-name-color: var(--gray-dark);
    --hr-color: var(--gray-light);
    --selection-background-color: var(--gray-light);
    --site-header-border-bottom-color: var(--gray-light);
    --code-background-color: rgb(40, 44, 52);
    --post-tags-background-color: #d5d5d5;
  }
}



/* Base
---------------------------------------- */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%; /* Assumes default font-size is unchanged, making 1rem = 10px. */
  min-height: 100%;
  overflow-y: scroll;
}

/* Allows easy override of default box-sizing: border-box */
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--base-font-family, Georgia, Cambria, "Times New Roman", Times,serif);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -.003em;
  line-height: 1.75;
  padding: 0;
  margin: 0;
}

/* Links
---------------------------------------- */
a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:active,
a:hover {
  color: var(--link-color);
  outline: 0;
  text-decoration: underline;
}

/* Images
---------------------------------------- */
/* Vertical align set to remove extra whitespace below image */
img {
	max-width: 100%;
	vertical-align: center;
}

svg:not(:root) {
  overflow: hidden;
}

/* Headings
---------------------------------------- */
 h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-family: var(--base-heading-font-family, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif);
}

/* Text Elements
-------------------------------------------------- */
blockquote {
  border-left: 3px solid;
  font-style: italic;
  margin-left: -1.2em;
  margin-right: -1.2em;
  padding: 0 0.6em;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

time {
  color: var(--time-color);
  display: inline-block;
  font-style: italic;
  vertical-align: bottom;
}

hr {
  margin-top: var(--base-spacing-unit -1);
  margin-bottom: var(--base-spacing-unit);
  border: none;
  border-top: 1px solid var(--hr-color);
  box-sizing: content-box;
  height: 0;
}

/* Specify the color of the selection */
::-moz-selection {
  background: var(--selection-background-color);
  color: var(--selection-color);
}

::selection {
  background: var(--selection-background-color);
  color: var(--selection-color);
}

/* Animations
---------------------------------------- */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-2rem)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes wave {
  0% {transform:rotate(3deg);}
  96.6% {transform:rotate(3deg);}
  96.9% {transform:rotate(0deg);}
  97.3% {transform:rotate(-3deg);}
  97.6% {transform:rotate(0deg);}
  97.9% {transform:rotate(3deg);}
  98.3% {transform:rotate(0deg);}
  98.6% {transform:rotate(-3deg);}
  98.9% {transform:rotate(0deg);}
  99.3% {transform:rotate(3deg);}
}

.fade-in-down-slow {
  animation-duration: .9s;
  animation-name: fadeInDown;
}

.fade-in-down {
  animation-duration: .6s;
  animation-name: fadeInDown;
}

/* Site Container
---------------------------------------- */
.site-container {
  max-width: 76rem;
  padding: 0 3rem;
  margin: 0 auto;
}

/* Site Hero
---------------------------------------- */
.site-hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}

.site-hero-bg {
  filter: blur(3px) brightness(30%);
  top: -2rem;
  bottom: -2rem;
  left: -2rem;
  right: -2rem;
  position: absolute !important;
}

.site-hero-bg-overlay {
  background-image: linear-gradient(270deg, #38b0e8, #964f93);
  background-size: 100% 600%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  width: 100%;
}

.site-hero-content {
  animation-duration: .9s;
  animation-fill-mode: both;
  animation-name: fadeInDown;

  position: relative;
  align-items: center;
  display: flex;
  padding: 7rem 0 10rem 0;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.site-hero-heading {
  color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  position: relative; /* Needed for emoji wave */
}

.site-hero-wave {
  position: absolute;
  top: 0;
  left: 3em;
  animation: wave 10s alternate infinite;
  transform-origin: 50% 60%;
  transform: rotate(3deg);
  animation-timing-function: ease;
}

.site-hero-intro {
  display: block;
  font-family: Georgia, sans-serif;
  font-size: 3rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.site-hero-intro a {
  color: #fff;
}

.site-hero-intro a:hover {
  color: #ffd21f;
}

.site-hero-social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-hero-social a {
  display: inline-block;
  color: #ffd21f;
}

.site-hero-social a:first-child {
  margin-right: 1.5rem;
}

/* Site Header
---------------------------------------- */
.site-header {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 76rem;
  padding: 2.4rem 3rem 2.3rem;
  border-bottom: 1px solid var(--site-header-border-bottom-color);
  display: table;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 740px) {
  .site-header {
    text-align: left;
    padding-bottom:  calc(var(--base-spacing-unit) - 1px);
  }
}

/* Site Name
---------------------------------------- */
.site-name {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--site-name-color);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}

.site-name a {
  color: inherit;
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
}

@media screen and (min-width: 740px) {
  .site-name {
    display: table-cell;
    text-align: left;
    vertical-align: bottom;
    width: 50%;
  }
}

/* Site Description
---------------------------------------- */
.site-description {
  font-size: 1.5rem;
  color: var(--site-description-color);
}

/* Post Listing
---------------------------------------- */
.post-listing {
  margin-bottom: 6rem;
}

.post-listing-title {
  margin-bottom: 0;
  line-height: 1.2;
}

.post-listing-title a {
  color: inherit;
}

.post-listing-tags-container {
  font-size: 0.8em;
}

/* Post
---------------------------------------- */
.post-title {
  margin-bottom: 0;
  line-height: 4.5rem;
}

.post-time-divider {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.post-readtime {
  color: var(--post-readtime-color);
  display: inline-block;
  font-style: italic;
  vertical-align: bottom;
}

.post-featured-image {
  display: block;
  margin: 4rem 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.post-tags {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0 .7rem;
  background-color: var(--post-tags-background-color);
  border-radius: .3rem;
  line-height: 1.5;
}

.post-tags a {
  color: var(--fg);
}

.site-container pre[class*="language-"],
.site-container :not(pre) > code[class*="language-"] {
  background-color: var(--code-background-color);
}

/* Bio
---------------------------------------- */
.bio {
  align-items: center;
  display: flex;
  margin-bottom: 5rem;
}

.bio-img {
  border-radius: 100%;
  margin-right: 0.875rem;
  margin-bottom: 0;
  width: 5.5rem;
  height: 5.5rem;
}

.bio-content {
  margin: 0;
  font-size: 1.7rem;
}

.bio-social-link {
  display: inline-block;
}

.bio-social-link svg {
  display: inline-block;
  vertical-align: -0.15em;
  height: 0.9em;
  width: 0.9em;
  margin-right: 0.5rem;
  fill: currentColor;
}

.bio-social-link-twitter {
  margin-left: .5rem;
  margin-right: 1.6rem;
}


/* Pagination
---------------------------------------- */
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 5rem;
}

.pagination-previous,
.pagination-next {
  flex-basis: 50%;
  line-height: 1.2;
}

.pagination-previous small,
.pagination-next small {
  display: block;
  margin-bottom: .5rem;
}

.pagination-previous {
  margin-right: 2rem;
}

.pagination-next {
  margin-left: 2rem;
}

/* Theme Switcher
---------------------------------------- */
.theme-switcher {
  font-size: .8em;
}

.theme-switcher-btn {
  background: rgba(0,0,0,0);
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
}