// ARCHIVCES
// ------------------------

.archive {
  @include rem(padding-bottom,  ($base-spacing-unit - 1));
  @include rem(margin-bottom,  $base-spacing-unit);
  border-bottom: 1px solid $gray-light;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  // Archive header
  &-header {
    @include rem(margin-bottom,  $half-spacing-unit);
  }

  // Archive title
  // Displays post title
  &-title {
    @include rem(font-size, $h3-size);
    @include rem(line-height, $base-spacing-unit);
    @include rem(margin-bottom, $half-spacing-unit);

    @include bp-m {
      @include rem(font-size, $h2-size);
      @include rem(line-height, ($base-spacing-unit * 2));
      margin-bottom: 0;
    }
  }

  // Archive excerpt
  // Displays post excerpt
  &-excerpt {
    @include rem(margin-bottom, $half-spacing-unit);

    @include bp-m {
      p {
        margin-bottom: 0;
      }
    }
  }

  // Archive read more link
  &-more {
    margin-bottom: 0;

    a {
      @include rem(font-size, 15px);
      font-family: $font-stack-3;
      text-transform: uppercase;
    }
  }
}
