// POSTS
// ------------------------

// index.html
.post-preview {
  @include rem(padding-bottom,  ($base-spacing-unit - 1));
  @include rem(margin-bottom,  $base-spacing-unit);
  border-bottom: 1px solid $gray-light;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

// index.html
.post-preview-title {
  @include rem(font-size, $h3-size);
  @include rem(line-height, $base-spacing-unit);
  @include rem(margin-bottom, ($base-spacing-unit * .5));

  @include bp-m {
    @include rem(font-size, $h2-size);
    @include rem(line-height, ($base-spacing-unit * 2));
    margin-bottom: 0;
  }
}

// post.html
.post-title {
  @include rem(font-size,  $h1-size);
  @include rem(line-height,  ($base-spacing-unit * 2));
  @include rem(margin-bottom,  $half-spacing-unit);
  margin-bottom: 0;
}

// both
.post-header {
  @include rem(margin-bottom,  $half-spacing-unit);

  // post.html
  .post-title {
    @include rem(margin-bottom,  $half-spacing-unit);
  }
}

// posibily set in typography.less on time element
// would need to test setting display: inline-block or block to align with baseline grid
// both
.post-date {
  color: $gray;
  font-style: italic;
  margin-bottom: 0;
  font-family: $base-heading-font;
}




// index.html
.post-more {
  margin-bottom: 0;

  a {
    @include rem(font-size, 15px);
    font-family: $base-heading-font;
    text-transform: uppercase;
  }
}

// index.html
.post-excerpt {
  margin-bottom: 0.75rem;

  @include bp-m {
    p {
      margin-bottom: 0;
    }
  }
}
