---
import { SITE } from '$/config';
import DefaultLayout from '$/layouts/Default.astro';
---
<DefaultLayout content={{title: SITE.title, description: SITE.description}}>
  <h1>Page Not Found</h1>
</DefaultLayout>
