---
import { SITE } from '$/config';
import DefaultLayout from '$/layouts/Default.astro';
---

<DefaultLayout content={{title: SITE.title, description: SITE.description}}>
  <h1>Hello 👋</h1>
  <p>
    I'm Brett Jankord, a Software Engineer living in the midwest who enjoys working on front-end development, design systems, accessibility, responsive web design, CSS, ReactJS / Vue.js, and open source software.
  </p>
</DefaultLayout>
