---
import { SITE } from '$/config';
import DefaultLayout from '$/layouts/Default.astro';
import PostListing from '$/components/PostListing.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./notes/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---
<DefaultLayout content={{title: 'Notes', description: 'Notes from Brett Jankord'}}>
  <section>
    <p>Here you'll find my short notes about various coding/technical ideas.</p>
    <PostListing posts={posts} />
  </section>
</DefaultLayout>
