---
const today = new Date();
---

<footer>
	&copy; 2011 - {today.getFullYear()} Brett Jankord. All rights reserved. | <a href="/blog">Archive</a> | <a href="/tags">Tags</a> | <a href="/rss.xml">RSS</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
