---
import HeaderLink from './HeaderLink.astro';
import { SITE } from '$/config';
---

<header>
	<span class="logo">
		{SITE.title}
  </span>
	<nav class="nav">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/notes">Notes</HeaderLink>
		<HeaderLink href="https://twitter.com/bjankord" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/bjankord" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}

  .nav {
    display: flex;
    flex-wrap: wrap;
  }

  .nav a {
    margin-right: 1rem;
  }

	.logo {
    color: #222;
		margin: 0.5em 0;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
	}
</style>
