---
import Header from '$/components/Header.astro';
import Footer from '$/components/Footer.astro';
const { title } = Astro.props
---
<body>
  <Header title={title} />
  <main class="content">
    <slot />
  </main>
  <Footer />
  <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=UA-3084536-1"></script>
  <script type="text/partytown">window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-3084536-1');</script>
</body>
