// TYPOGRAPHY
// ----------------------------------------

html {
  font-size: 100%;
}

body {
  background: $bg;
  color: $fg;
  font-family: $base-type-font;
  line-height: $line-height-ratio;
}

// Links
// ----------------------------------------

// Background-color set to remove the gray background color from active links in IE 10.
a {
  background-color: transparent;
  color: $link-color;
  cursor: pointer;
  text-decoration: none;

  // Improve readability when focused / mouse hovered in all browsers.
  &:active,
  &:hover {
    color: $link-color;
    outline: 0;
    text-decoration: underline;
  }
}

// Headings
// ----------------------------------------
 h1, h2, h3, h4, h5, h6 {
  @include rem(margin-bottom, $base-spacing-unit);
  color: $slate;
  font-family: $base-heading-font;
  font-weight: 700;

  a {
    color: inherit;

    &:active,
    &:hover {
      text-decoration: none;
    }
  }
}

// Headings increase font size above medium breakpoint
h1, .h1 {
  @include rem(font-size, $h2-size);
  @include rem(line-height, ($base-spacing-unit * 2));

  @include bp-m {
    @include rem(font-size, $h1-size);
  }
}

h2, .h2 {
  @include rem(font-size, $h3-size);
  @include rem(line-height, $base-spacing-unit);

  @include bp-m {
    @include rem(font-size, $h2-size);
    @include rem(line-height, ($base-spacing-unit * 2));
  }
}

h3, .h3 {
  @include rem(font-size, $h4-size);
  @include rem(line-height, $base-spacing-unit);

  @include bp-m {
    @include rem(font-size, $h3-size);
  }
}

h4, .h4 {
  @include rem(font-size, $h5-size);
  @include rem(line-height, $base-spacing-unit);

  @include bp-m {
    @include rem(font-size, $h4-size);
  }
}

h5, .h5 {
  @include rem(font-size, $h6-size);
  @include rem(line-height, $base-spacing-unit);

  @include bp-m {
    @include rem(font-size, $h5-size);
  }
}

h6, .h6 {
  @include rem(font-size, $h6-size);
  @include rem(line-height, $base-spacing-unit);
}

// Lists
// ----------------------------------------
ul, ol {
 @include rem(padding-left, 30px);
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

// Text Elements
// --------------------------------------------------
em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: 600;
}

blockquote {
  border-left: 3px solid $gray;
  color: $gray;
  font-style: italic;
  margin-left: .8em;
  margin-right: .8em;
  padding: 0 1em;
}

small {
  font-size: 85%;
}

//Address odd `em`-unit font size rendering in all browsers.
code,
kbd,
pre,
samp {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
}

code {
  background-color: rgb(235, 246, 253);
  border-radius: 4px;
  color: $slate;
  font-size: 85%;
  padding: 0.2em 0.4em 0.2em 0.3em;
}

pre {
  overflow: auto;

  code {
    @include rem(font-size, $base-font-size);
    display: block;
    line-height: $line-height-ratio;
    padding: 0;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
  }
}

hr {
  @include rem(margin-top, $base-spacing-unit);
  @include rem(margin-bottom, $base-spacing-unit);
  border-top: 1px solid #ccc;
  border: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

// Specify the color of the selection
::-moz-selection {
  @include selection();
}

::selection {
  @include selection();
}

// Global spacing
// --------------------------------------------------
address,
blockquote,
fieldset,
figure
dl,
ol,
ul,
p,
table {
  @include rem(margin-bottom, $base-spacing-unit);
}
