<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }} | {{ metadata.author.name }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    {% set css %}
      {% include "css/index.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    {% set highlightcss %}
      {% include "css/prism-base16-monokai.dark.css" %}
    {% endset %}
    <style>
      {{ highlightcss | cssmin | safe }}
    </style>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="preconnect dns-prefetch" href="https://www.google-analytics.com">
    <link href="https://www.googletagmanager.com/gtag/js?id=UA-3084536-1" rel="preload" as="script">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com/" >
    <link rel="shortcut icon" href="{{metadata.url}}/img/favicon/icon-48x48.png?v=2">
    <link rel="apple-touch-icon" sizes="48x48" href="{{metadata.url}}/img/favicon/icon-48x48.png?v=2">
    <link rel="apple-touch-icon" sizes="72x72" href="{{metadata.url}}/img/favicon/icon-72x72.png?v=2">
    <link rel="apple-touch-icon" sizes="96x96" href="{{metadata.url}}/img/favicon/icon-96x96.png?v=2">
    <link rel="apple-touch-icon" sizes="144x144" href="{{metadata.url}}/img/favicon/icon-144x144.png?v=2">
    <link rel="apple-touch-icon" sizes="192x192" href="{{metadata.url}}/img/favicon/icon-192x192.png?v=2">
    <link rel="apple-touch-icon" sizes="256x256" href="{{metadata.url}}/img/favicon/icon-256x256.png?v=2">
    <link rel="apple-touch-icon" sizes="384x384" href="{{metadata.url}}/img/favicon/icon-384x384.png?v=2">
    <link rel="apple-touch-icon" sizes="512x512" href="{{metadata.url}}/img/favicon/icon-512x512.png?v=2">

    <meta property="og:type" content="{{type or 'website'}}">
    <meta property="og:url"  content="{{metadata.url}}{{permalink}}" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="{{ metadata.author.twitterHandle}}">

    <meta property="og:title"   content="{{ renderData.title or title }} | {{ metadata.author.name }}">
    <meta name="twitter:title"  content="{{ renderData.title or title }} | {{ metadata.author.name }}">

    <meta name="description" content="{{ summary or renderData.description or description or metadata.description }}">
    <meta property="og:description" content="{{ summary or renderData.description or description or metadata.description }}">
    <meta name="twitter:description" content="{{ summary or renderData.description or description or metadata.description }}">
    {% if featuredImage %}
      <meta property="og:image" content="{{metadata.url}}/{{ featuredImage }}" />
    {% endif %}
 </head>
  <body>
    {{ content | safe }}
    <footer class="site-footer">
      Brett Jankord Copyright © 2011 - Present. <a href="https://www.brettjankord.com/rss.xml">RSS Feed</a>
      <ul class="site-footer-nav nav">
        {%- for nav in collections.nav | reverse -%}
        <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
        {%- endfor -%}
      </ul>
    </footer>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3084536-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-3084536-1');
    </script>
  </body>
</html>
